# Successful Movies
---

## Project 3 - Part 4 Extract from TMDB (Core)

## EDA 2008 2006

* ### ***What Makes a Movie Successful?***

* ### Ingrid Arbieto Nelson

<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Successful-Movies" data-toc-modified-id="Successful-Movies-1">Successful Movies</a></span><ul class="toc-item"><li><span><a href="#Project-3---Part-4-Extract-from-TMDB-(Core)" data-toc-modified-id="Project-3---Part-4-Extract-from-TMDB-(Core)-1.1">Project 3 - Part 4 Extract from TMDB (Core)</a></span></li><li><span><a href="#EDA-2008-2006" data-toc-modified-id="EDA-2008-2006-1.2">EDA 2008 2006</a></span><ul class="toc-item"><li><span><a href="#What-Makes-a-Movie-Successful?" data-toc-modified-id="What-Makes-a-Movie-Successful?-1.2.1"><strong><em>What Makes a Movie Successful?</em></strong></a></span></li><li><span><a href="#Ingrid-Arbieto-Nelson" data-toc-modified-id="Ingrid-Arbieto-Nelson-1.2.2">Ingrid Arbieto Nelson</a></span></li></ul></li><li><span><a href="#Business-Problem" data-toc-modified-id="Business-Problem-1.3">Business Problem</a></span><ul class="toc-item"><li><span><a href="#Exploratory-Data-Analysis" data-toc-modified-id="Exploratory-Data-Analysis-1.3.1">Exploratory Data Analysis</a></span></li><li><span><a href="#Deliverables" data-toc-modified-id="Deliverables-1.3.2">Deliverables</a></span></li></ul></li><li><span><a href="#EDA-Code-Section" data-toc-modified-id="EDA-Code-Section-1.4">EDA Code Section</a></span><ul class="toc-item"><li><span><a href="#Imports" data-toc-modified-id="Imports-1.4.1">Imports</a></span></li><li><span><a href="#Load-TMDB-Movie-Files" data-toc-modified-id="Load-TMDB-Movie-Files-1.4.2">Load TMDB Movie Files</a></span></li><li><span><a href="#Combine-2000-&amp;-2001-Movies" data-toc-modified-id="Combine-2000-&amp;-2001-Movies-1.4.3">Combine 2000 &amp; 2001 Movies</a></span></li><li><span><a href="#1.-How-many-movies-had-at-least-some-valid-financial-information-(values->-0-for-budget-OR-revenue)?" data-toc-modified-id="1.-How-many-movies-had-at-least-some-valid-financial-information-(values->-0-for-budget-OR-revenue)?-1.4.4">1. How many movies had at least some valid financial information (values &gt; 0 for budget OR revenue)?</a></span></li><li><span><a href="#2.-How-many-movies-are-there-in-each-of-the-certification-categories-(G/PG/PG-13/R)?" data-toc-modified-id="2.-How-many-movies-are-there-in-each-of-the-certification-categories-(G/PG/PG-13/R)?-1.4.5">2. How many movies are there in each of the certification categories (G/PG/PG-13/R)?</a></span></li><li><span><a href="#3.-What-is-the-average-revenue-per-certification-category?" data-toc-modified-id="3.-What-is-the-average-revenue-per-certification-category?-1.4.6">3. What is the average revenue per certification category?</a></span></li><li><span><a href="#4.-What-is-the-average-budget-per-certification-category?" data-toc-modified-id="4.-What-is-the-average-budget-per-certification-category?-1.4.7">4. What is the average budget per certification category?</a></span></li></ul></li><li><span><a href="#All-TMDB-Movie-Data" data-toc-modified-id="All-TMDB-Movie-Data-1.5">All TMDB Movie Data</a></span></li></ul></li></ul></div>

## Business Problem
> *For this project, you have been hired to produce a MySQL database on Movies from a subset of IMDB's publicly available dataset. Ultimately, you will use this database to analyze what makes a movie successful, and will provide recommendations to the stakeholder on how to make a successful movie.*

Over the course of this project, you will:

* **Part 1**: Download several files from IMDB’s movie data set and filter out the subset of moves requested by the stakeholder.
* **Part 2**: Use an API to extract box office revenue and profit data to add to your IMDB data and perform exploratory data analysis.
* **Part 3**: Construct and export a MySQL database using your data.
* **Part 4**: Apply hypothesis testing to explore what makes a movie successful.
* **Part 5** (Optional): Produce a Linear Regression model to predict movie performance.

<img src ="Images/theater.png">

### Exploratory Data Analysis
* Load in your csv.gz's of results for each year extracted.
  * Concatenate the data into 1 dataframe for the remainder of the analysis.
* Once you have your data from the API, they would like you to perform some light EDA to show:
  1. How many movies had at least some valid financial information (values > 0 for budget OR revenue)?
    * Please exclude any movies with 0's for budget AND revenue from the remaining visualizations.
  2. How many movies are there in each of the certification categories (G/PG/PG-13/R)?
  3. What is the average revenue per certification category?
  4. What is the average budget per certification category?

### Deliverables
After you have joined the tmdb results into 1 dataframe in the EDA Notebook,

* Save a final merged .csv.gz of all of the tmdb api data *(The file name should be "tmdb_results_combined.csv.gz"*
* Make sure this is pushed to your github repository along with all of your code
  * One code file for API calls
  * One code file for EDA
* Submit the link

## EDA Code Section

### Imports

In [1]:
import pandas as pd
import numpy as np

### Load TMDB Movie Files

In [2]:
tmdbdata_2006 = pd.read_csv('Data/final_tmdb_data_2006.csv.gz')
tmdbdata_2006.head()

,imdb_id,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,original_language,original_title,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,certification
0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,tt0103340,0.0,/rhdDnrUmGamF2kk9HZUgTApms2a.jpg,NaN,0.0,"[{'id': 18, 'name': 'Drama'}]",NaN,268253.0,pl,Życie za życie. Maksymilian Kolbe,...,0.0,90.0,"[{'english_name': 'Italian', 'iso_639_1': 'it'...",Released,NaN,Life for Life: Maximilian Kolbe,0.0,6.143,14.0,NaN
2,tt0144280,0.0,NaN,NaN,100000.0,[],NaN,30356.0,en,Whispers from a Shallow Grave,...,0.0,90.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,NaN,Whispers from a Shallow Grave,0.0,2.000,2.0,NaN
3,tt0197633,0.0,/1hGrzTajJ5JC6VfPzrUj8Gj5t5k.jpg,NaN,0.0,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",NaN,58520.0,en,Live Freaky! Die Freaky!,...,0.0,75.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,NaN,Live Freaky! Die Freaky!,0.0,3.800,8.0,NR
4,tt0204250,0.0,/qKiOZMJH9Riqlk2SkUOgSMZHHJu.jpg,NaN,0.0,"[{'id': 9648, 'name': 'Mystery'}, {'id': 35, '...",NaN,459563.0,en,Death of a Saleswoman,...,0.0,77.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,6 housewives. 1 dead body. A trunk full of pla...,Death of a Saleswoman,0.0,3.000,1.0,NaN

In [3]:
# drop the first nan row 2000 movies
tmdbdata_2006.drop([0],axis=0, inplace=True)
tmdbdata_2006.head()

,imdb_id,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,original_language,original_title,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,certification
1,tt0103340,0.0,/rhdDnrUmGamF2kk9HZUgTApms2a.jpg,NaN,0.0,"[{'id': 18, 'name': 'Drama'}]",NaN,268253.0,pl,Życie za życie. Maksymilian Kolbe,...,0.0,90.0,"[{'english_name': 'Italian', 'iso_639_1': 'it'...",Released,NaN,Life for Life: Maximilian Kolbe,0.0,6.143,14.0,NaN
2,tt0144280,0.0,NaN,NaN,100000.0,[],NaN,30356.0,en,Whispers from a Shallow Grave,...,0.0,90.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,NaN,Whispers from a Shallow Grave,0.0,2.000,2.0,NaN
3,tt0197633,0.0,/1hGrzTajJ5JC6VfPzrUj8Gj5t5k.jpg,NaN,0.0,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",NaN,58520.0,en,Live Freaky! Die Freaky!,...,0.0,75.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,NaN,Live Freaky! Die Freaky!,0.0,3.800,8.0,NR
4,tt0204250,0.0,/qKiOZMJH9Riqlk2SkUOgSMZHHJu.jpg,NaN,0.0,"[{'id': 9648, 'name': 'Mystery'}, {'id': 35, '...",NaN,459563.0,en,Death of a Saleswoman,...,0.0,77.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,6 housewives. 1 dead body. A trunk full of pla...,Death of a Saleswoman,0.0,3.000,1.0,NaN
5,tt0206634,0.0,/z8FzomPxfCb2nv827VWLSI6oYiB.jpg,NaN,76000000.0,"[{'id': 18, 'name': 'Drama'}, {'id': 28, 'name...",http://www.universalstudiosentertainment.com/c...,9693.0,en,Children of Men,...,70595464.0,109.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,The future's a thing of the past.,Children of Men,0.0,7.605,6307.0,R

In [4]:
tmdbdata_2008 = pd.read_csv('Data/final_tmdb_data_2008.csv.gz')
tmdbdata_2008.head()

,imdb_id,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,original_language,original_title,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,certification
0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,tt0119970,0.0,NaN,NaN,0.0,"[{'id': 18, 'name': 'Drama'}, {'id': 878, 'nam...",NaN,165200.0,en,My Apocalypse,...,0.0,82.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,The future looks bleak,My Apocalypse,0.0,4.800,2.0,NaN
2,tt0177636,0.0,/ngbLRg9oitRGqRnuogcmpKf4vGp.jpg,NaN,0.0,"[{'id': 18, 'name': 'Drama'}, {'id': 10402, 'n...",NaN,8890.0,de,Geliebte Clara,...,0.0,107.0,"[{'english_name': 'German', 'iso_639_1': 'de',...",Released,NaN,Clara,0.0,4.700,6.0,NaN
3,tt0200465,0.0,/ynnarxTMs8jWKV9GK0SpUhGNCgH.jpg,NaN,20000000.0,"[{'id': 53, 'name': 'Thriller'}, {'id': 80, 'n...",http://thebankjobmovie.com,8848.0,en,The Bank Job,...,64828421.0,112.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,The true story of a heist gone wrong... in all...,The Bank Job,0.0,6.816,1981.0,R
4,tt0211946,0.0,/8ZoW4hwuTWxKWDezkoUGBVvyxj5.jpg,NaN,0.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",http://www.berlin-calling.de/,30508.0,de,Berlin Calling,...,0.0,105.0,"[{'english_name': 'German', 'iso_639_1': 'de',...",Released,NaN,Berlin Calling,0.0,6.838,302.0,NaN

In [5]:
# drop the first nan row 2001 movies
tmdbdata_2008.drop([0],axis=0, inplace=True)
tmdbdata_2008.head()

,imdb_id,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,original_language,original_title,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,certification
1,tt0119970,0.0,NaN,NaN,0.0,"[{'id': 18, 'name': 'Drama'}, {'id': 878, 'nam...",NaN,165200.0,en,My Apocalypse,...,0.0,82.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,The future looks bleak,My Apocalypse,0.0,4.800,2.0,NaN
2,tt0177636,0.0,/ngbLRg9oitRGqRnuogcmpKf4vGp.jpg,NaN,0.0,"[{'id': 18, 'name': 'Drama'}, {'id': 10402, 'n...",NaN,8890.0,de,Geliebte Clara,...,0.0,107.0,"[{'english_name': 'German', 'iso_639_1': 'de',...",Released,NaN,Clara,0.0,4.700,6.0,NaN
3,tt0200465,0.0,/ynnarxTMs8jWKV9GK0SpUhGNCgH.jpg,NaN,20000000.0,"[{'id': 53, 'name': 'Thriller'}, {'id': 80, 'n...",http://thebankjobmovie.com,8848.0,en,The Bank Job,...,64828421.0,112.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,The true story of a heist gone wrong... in all...,The Bank Job,0.0,6.816,1981.0,R
4,tt0211946,0.0,/8ZoW4hwuTWxKWDezkoUGBVvyxj5.jpg,NaN,0.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",http://www.berlin-calling.de/,30508.0,de,Berlin Calling,...,0.0,105.0,"[{'english_name': 'German', 'iso_639_1': 'de',...",Released,NaN,Berlin Calling,0.0,6.838,302.0,NaN
5,tt0313088,0.0,NaN,NaN,0.0,"[{'id': 18, 'name': 'Drama'}]",NaN,814156.0,en,Jackson,...,0.0,97.0,[],Released,This is going to be the best day of your life.,Jackson,0.0,2.000,1.0,NaN

In [6]:
tmdbdata_2006.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1886 entries, 1 to 1886
Data columns (total 26 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   imdb_id                1886 non-null   object
 1   adult                  1886 non-null   float64
 2   backdrop_path          1014 non-null   object
 3   belongs_to_collection  139 non-null    object
 4   budget                 1886 non-null   float64
 5   genres                 1886 non-null   object
 6   homepage               310 non-null    object
 7   id                     1886 non-null   float64
 8   original_language      1886 non-null   object
 9   original_title         1886 non-null   object
 10  overview               1844 non-null   object
 11  popularity             1886 non-null   float64
 12  poster_path            1650 non-null   object
 13  production_companies   1886 non-null   object
 14  production_countries   1886 non-null   object
 15  release_date           1858 non-null   object
 16  revenue                1886 non-null   float64
 17  runtime                1886 non-null   float64
 18  spoken_languages       1886 non-null   object
 19  status                 1886 non-null   object
 20  tagline                815 non-null    object
 21  title                  1886 non-null   object
 22  video                  1886 non-null   float64
 23  vote_average           1886 non-null   float64
 24  vote_count             1886 non-null   float64
 25  certification          637 non-null    object
dtypes: float64(9), object(17)
memory usage: 383.2+ KB

In [7]:
tmdbdata_2008.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2150 entries, 1 to 2150
Data columns (total 26 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   imdb_id                2150 non-null   object
 1   adult                  2150 non-null   float64
 2   backdrop_path          1143 non-null   object
 3   belongs_to_collection  153 non-null    object
 4   budget                 2150 non-null   float64
 5   genres                 2150 non-null   object
 6   homepage               508 non-null    object
 7   id                     2150 non-null   float64
 8   original_language      2150 non-null   object
 9   original_title         2150 non-null   object
 10  overview               2089 non-null   object
 11  popularity             2150 non-null   float64
 12  poster_path            1863 non-null   object
 13  production_companies   2150 non-null   object
 14  production_countries   2150 non-null   object
 15  release_date           2122 non-null   object
 16  revenue                2150 non-null   float64
 17  runtime                2150 non-null   float64
 18  spoken_languages       2150 non-null   object
 19  status                 2150 non-null   object
 20  tagline                877 non-null    object
 21  title                  2150 non-null   object
 22  video                  2150 non-null   float64
 23  vote_average           2150 non-null   float64
 24  vote_count             2150 non-null   float64
 25  certification          667 non-null    object
dtypes: float64(9), object(17)
memory usage: 436.8+ KB

### Combine 2000 & 2001 Movies

In [8]:
## concatenate the tmdb 2000 & 2001 movies
combined_tmdb_20082006 = pd.concat([tmdbdata_2006, tmdbdata_2008],
                      ignore_index=True)

In [9]:
combined_tmdb_20082006.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4036 entries, 0 to 4035
Data columns (total 26 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   imdb_id                4036 non-null   object
 1   adult                  4036 non-null   float64
 2   backdrop_path          2157 non-null   object
 3   belongs_to_collection  292 non-null    object
 4   budget                 4036 non-null   float64
 5   genres                 4036 non-null   object
 6   homepage               818 non-null    object
 7   id                     4036 non-null   float64
 8   original_language      4036 non-null   object
 9   original_title         4036 non-null   object
 10  overview               3933 non-null   object
 11  popularity             4036 non-null   float64
 12  poster_path            3513 non-null   object
 13  production_companies   4036 non-null   object
 14  production_countries   4036 non-null   object
 15  release_date           3980 non-null   object
 16  revenue                4036 non-null   float64
 17  runtime                4036 non-null   float64
 18  spoken_languages       4036 non-null   object
 19  status                 4036 non-null   object
 20  tagline                1692 non-null   object
 21  title                  4036 non-null   object
 22  video                  4036 non-null   float64
 23  vote_average           4036 non-null   float64
 24  vote_count             4036 non-null   float64
 25  certification          1304 non-null   object
dtypes: float64(9), object(17)
memory usage: 819.9+ KB

### 1. How many movies had at least some valid financial information (values > 0 for budget OR revenue)?
* Please exclude any movies with 0's for budget AND revenue from the remaining visualizations.

In [10]:
filter_financial = (combined_tmdb_20082006['budget'] > 0) | (combined_tmdb_20082006['revenue']>0)
filter_financial

0       False
1        True
2       False
3       False
4        True
        ...
4031     True
4032    False
4033    False
4034    False
4035    False
Length: 4036, dtype: bool

In [11]:
filter_financial.value_counts()

False    2843
True     1193
dtype: int64

In [12]:
finpos_movies20082006 = combined_tmdb_20082006.loc[filter_financial==True,:]
finpos_movies20082006

,imdb_id,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,original_language,original_title,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,certification
1,tt0144280,0.0,NaN,NaN,100000.0,[],NaN,30356.0,en,Whispers from a Shallow Grave,...,0.0,90.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,NaN,Whispers from a Shallow Grave,0.0,2.000,2.0,NaN
4,tt0206634,0.0,/z8FzomPxfCb2nv827VWLSI6oYiB.jpg,NaN,76000000.0,"[{'id': 18, 'name': 'Drama'}, {'id': 28, 'name...",http://www.universalstudiosentertainment.com/c...,9693.0,en,Children of Men,...,70595464.0,109.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,The future's a thing of the past.,Children of Men,0.0,7.605,6307.0,R
6,tt0259822,0.0,/rxw0z2dQlbpl85XenruggbSENtj.jpg,NaN,5000000.0,"[{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...",NaN,14062.0,en,.45,...,0.0,101.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Nobody does revenge like a woman.,.45,0.0,5.215,149.0,R
10,tt0287072,0.0,NaN,NaN,31.0,"[{'id': 27, 'name': 'Horror'}, {'id': 9648, 'n...",http://us.davecampfield.com/,260824.0,en,Under Surveillance,...,0.0,89.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,"Four Apartments, Seven Residents... One Killer.",Under Surveillance,0.0,4.000,2.0,R
11,tt0298337,0.0,/y4cfBdeAsvONJ1VqD9qp7SIVpXo.jpg,NaN,0.0,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",NaN,14453.0,no,Slipp Jimmy fri,...,2277607.0,86.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,NaN,Free Jimmy,0.0,5.153,72.0,PG-13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3974,tt2299459,0.0,NaN,NaN,72000.0,"[{'id': 18, 'name': 'Drama'}]",NaN,596124.0,en,Layla Live or Die,...,0.0,135.0,[],Released,The dead-end of Feminism,Layla Live or Die,0.0,2.000,1.0,NaN
3975,tt2327563,0.0,NaN,NaN,20000.0,"[{'id': 27, 'name': 'Horror'}]",NaN,269947.0,en,The Gateway Meat,...,0.0,69.0,[],Released,NaN,The Gateway Meat,0.0,4.300,6.0,NaN
3985,tt2615814,0.0,NaN,NaN,4000.0,"[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...",https://www.youtube.com/watch?v=7eEwqjMDKU8,732069.0,en,Noir,...,4000.0,94.0,[],Released,Remember...always remember...this is a story o...,Noir,1.0,0.000,0.0,NR
4025,tt5289746,0.0,NaN,NaN,1000000.0,"[{'id': 99, 'name': 'Documentary'}]",NaN,462539.0,en,Pinnernation The Movie,...,0.0,40.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,NaN,Pinnernation The Movie,0.0,0.000,0.0,NR
4031,tt6857302,0.0,/rOADFIydnng08PCvkRYqZPUTruV.jpg,NaN,0.0,"[{'id': 16, 'name': 'Animation'}, {'id': 12, '...",NaN,32443.0,ru,Бабка Ёжка и другие,...,718500.0,70.0,"[{'english_name': 'Russian', 'iso_639_1': 'ru'...",Released,NaN,Babka Ezhka and Others,0.0,6.214,7.0,NaN

In [13]:
finpos_movies20082006.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1193 entries, 1 to 4031
Data columns (total 26 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   imdb_id                1193 non-null   object
 1   adult                  1193 non-null   float64
 2   backdrop_path          907 non-null    object
 3   belongs_to_collection  157 non-null    object
 4   budget                 1193 non-null   float64
 5   genres                 1193 non-null   object
 6   homepage               423 non-null    object
 7   id                     1193 non-null   float64
 8   original_language      1193 non-null   object
 9   original_title         1193 non-null   object
 10  overview               1184 non-null   object
 11  popularity             1193 non-null   float64
 12  poster_path            1110 non-null   object
 13  production_companies   1193 non-null   object
 14  production_countries   1193 non-null   object
 15  release_date           1186 non-null   object
 16  revenue                1193 non-null   float64
 17  runtime                1193 non-null   float64
 18  spoken_languages       1193 non-null   object
 19  status                 1193 non-null   object
 20  tagline                833 non-null    object
 21  title                  1193 non-null   object
 22  video                  1193 non-null   float64
 23  vote_average           1193 non-null   float64
 24  vote_count             1193 non-null   float64
 25  certification          750 non-null    object
dtypes: float64(9), object(17)
memory usage: 251.6+ KB

### 2. How many movies are there in each of the certification categories (G/PG/PG-13/R)?

In [14]:
finpos_movies20082006.groupby('certification')['imdb_id'].count()

certification
G         17
NC-17      3
NR        98
PG        85
PG-13    216
R        331
Name: imdb_id, dtype: int64

### 3. What is the average revenue per certification category?

In [15]:
avg_rev20082006 = finpos_movies20082006.groupby('certification')['revenue'].mean()
avg_rev20082006

certification
G        1.454735e+08
NC-17    1.726346e+06
NR       1.190426e+07
PG       9.115051e+07
PG-13    9.291996e+07
R        2.481376e+07
Name: revenue, dtype: float64

### 4. What is the average budget per certification category?

In [16]:
finpos_movies20082006.groupby('certification')['budget'].mean()

certification
G        5.009869e+07
NC-17    1.454667e+06
NR       3.994950e+06
PG       3.874517e+07
PG-13    3.480274e+07
R        1.302635e+07
Name: budget, dtype: float64

## All TMDB Movie Data

In [17]:
title_basics = pd.read_csv('Data/title_basics.csv.gz')
title_basics.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,runtimeMinutes,genres
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,118,"Comedy,Fantasy,Romance"
1,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El tango del viudo y su espejo deformante,0,2020.0,70,Drama
2,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018.0,122,Drama
3,tt0088751,movie,The Naked Monster,The Naked Monster,0,2005.0,100,"Comedy,Horror,Sci-Fi"
4,tt0096056,movie,Crime and Punishment,Crime and Punishment,0,2002.0,126,Drama

In [18]:
## example tmdb data combined & basics
merge_tmdbdata_basics = pd.merge(finpos_movies20082006, title_basics, left_on='imdb_id', right_on='tconst', how='inner')
merge_tmdbdata_basics.head()

,imdb_id,adult,backdrop_path,belongs_to_collection,budget,genres_x,homepage,id,original_language,original_title,...,vote_count,certification,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,runtimeMinutes,genres_y
0,tt0144280,0.0,NaN,NaN,100000.0,[],NaN,30356.0,en,Whispers from a Shallow Grave,...,2.0,NaN,tt0144280,movie,Whispers from a Shallow Grave,Whispers from a Shallow Grave,0,2006.0,90,"Crime,Fantasy,Mystery"
1,tt0206634,0.0,/z8FzomPxfCb2nv827VWLSI6oYiB.jpg,NaN,76000000.0,"[{'id': 18, 'name': 'Drama'}, {'id': 28, 'name...",http://www.universalstudiosentertainment.com/c...,9693.0,en,Children of Men,...,6307.0,R,tt0206634,movie,Children of Men,Children of Men,0,2006.0,109,"Action,Drama,Sci-Fi"
2,tt0259822,0.0,/rxw0z2dQlbpl85XenruggbSENtj.jpg,NaN,5000000.0,"[{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...",NaN,14062.0,en,.45,...,149.0,R,tt0259822,movie,.45,.45,0,2006.0,101,"Crime,Drama,Thriller"
3,tt0287072,0.0,NaN,NaN,31.0,"[{'id': 27, 'name': 'Horror'}, {'id': 9648, 'n...",http://us.davecampfield.com/,260824.0,en,Under Surveillance,...,2.0,R,tt0287072,movie,Under Surveillance,Under Surveillance,0,2006.0,89,"Horror,Mystery,Thriller"
4,tt0298337,0.0,/y4cfBdeAsvONJ1VqD9qp7SIVpXo.jpg,NaN,0.0,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",NaN,14453.0,no,Slipp Jimmy fri,...,72.0,PG-13,tt0298337,movie,Free Jimmy,Slipp Jimmy fri,0,2006.0,86,"Animation,Comedy"

In [19]:
# drop duplicate column merged on
merge_tmdbdata_basics = merge_tmdbdata_basics.drop(columns=['tconst'])
merge_tmdbdata_basics.head()

,imdb_id,adult,backdrop_path,belongs_to_collection,budget,genres_x,homepage,id,original_language,original_title,...,vote_average,vote_count,certification,titleType,primaryTitle,originalTitle,isAdult,startYear,runtimeMinutes,genres_y
0,tt0144280,0.0,NaN,NaN,100000.0,[],NaN,30356.0,en,Whispers from a Shallow Grave,...,2.000,2.0,NaN,movie,Whispers from a Shallow Grave,Whispers from a Shallow Grave,0,2006.0,90,"Crime,Fantasy,Mystery"
1,tt0206634,0.0,/z8FzomPxfCb2nv827VWLSI6oYiB.jpg,NaN,76000000.0,"[{'id': 18, 'name': 'Drama'}, {'id': 28, 'name...",http://www.universalstudiosentertainment.com/c...,9693.0,en,Children of Men,...,7.605,6307.0,R,movie,Children of Men,Children of Men,0,2006.0,109,"Action,Drama,Sci-Fi"
2,tt0259822,0.0,/rxw0z2dQlbpl85XenruggbSENtj.jpg,NaN,5000000.0,"[{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...",NaN,14062.0,en,.45,...,5.215,149.0,R,movie,.45,.45,0,2006.0,101,"Crime,Drama,Thriller"
3,tt0287072,0.0,NaN,NaN,31.0,"[{'id': 27, 'name': 'Horror'}, {'id': 9648, 'n...",http://us.davecampfield.com/,260824.0,en,Under Surveillance,...,4.000,2.0,R,movie,Under Surveillance,Under Surveillance,0,2006.0,89,"Horror,Mystery,Thriller"
4,tt0298337,0.0,/y4cfBdeAsvONJ1VqD9qp7SIVpXo.jpg,NaN,0.0,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",NaN,14453.0,no,Slipp Jimmy fri,...,5.153,72.0,PG-13,movie,Free Jimmy,Slipp Jimmy fri,0,2006.0,86,"Animation,Comedy"

In [20]:
title_ratings = pd.read_csv('Data/title_ratings.csv.gz')
title_ratings.head()

      tconst  averageRating  numVotes
0  tt0000001            5.7      1966
1  tt0000002            5.8       264
2  tt0000005            6.2      2608
3  tt0000006            5.2       181
4  tt0000007            5.4       816

In [21]:
## example tmdb data combined & basics & ratings
merge_tmdbbasics_ratings = pd.merge(merge_tmdbdata_basics, title_ratings, left_on='imdb_id', right_on='tconst', how='inner')
merge_tmdbbasics_ratings.head()

,imdb_id,adult,backdrop_path,belongs_to_collection,budget,genres_x,homepage,id,original_language,original_title,...,titleType,primaryTitle,originalTitle,isAdult,startYear,runtimeMinutes,genres_y,tconst,averageRating,numVotes
0,tt0144280,0.0,NaN,NaN,100000.0,[],NaN,30356.0,en,Whispers from a Shallow Grave,...,movie,Whispers from a Shallow Grave,Whispers from a Shallow Grave,0,2006.0,90,"Crime,Fantasy,Mystery",tt0144280,4.5,78
1,tt0206634,0.0,/z8FzomPxfCb2nv827VWLSI6oYiB.jpg,NaN,76000000.0,"[{'id': 18, 'name': 'Drama'}, {'id': 28, 'name...",http://www.universalstudiosentertainment.com/c...,9693.0,en,Children of Men,...,movie,Children of Men,Children of Men,0,2006.0,109,"Action,Drama,Sci-Fi",tt0206634,7.9,509976
2,tt0259822,0.0,/rxw0z2dQlbpl85XenruggbSENtj.jpg,NaN,5000000.0,"[{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...",NaN,14062.0,en,.45,...,movie,.45,.45,0,2006.0,101,"Crime,Drama,Thriller",tt0259822,5.5,8723
3,tt0287072,0.0,NaN,NaN,31.0,"[{'id': 27, 'name': 'Horror'}, {'id': 9648, 'n...",http://us.davecampfield.com/,260824.0,en,Under Surveillance,...,movie,Under Surveillance,Under Surveillance,0,2006.0,89,"Horror,Mystery,Thriller",tt0287072,3.8,171
4,tt0298337,0.0,/y4cfBdeAsvONJ1VqD9qp7SIVpXo.jpg,NaN,0.0,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",NaN,14453.0,no,Slipp Jimmy fri,...,movie,Free Jimmy,Slipp Jimmy fri,0,2006.0,86,"Animation,Comedy",tt0298337,5.9,6843

In [22]:
# drop duplicate column merged on
merge_tmdbbasics_ratings = merge_tmdbbasics_ratings.drop(columns=['tconst'])
merge_tmdbbasics_ratings.head()

,imdb_id,adult,backdrop_path,belongs_to_collection,budget,genres_x,homepage,id,original_language,original_title,...,certification,titleType,primaryTitle,originalTitle,isAdult,startYear,runtimeMinutes,genres_y,averageRating,numVotes
0,tt0144280,0.0,NaN,NaN,100000.0,[],NaN,30356.0,en,Whispers from a Shallow Grave,...,NaN,movie,Whispers from a Shallow Grave,Whispers from a Shallow Grave,0,2006.0,90,"Crime,Fantasy,Mystery",4.5,78
1,tt0206634,0.0,/z8FzomPxfCb2nv827VWLSI6oYiB.jpg,NaN,76000000.0,"[{'id': 18, 'name': 'Drama'}, {'id': 28, 'name...",http://www.universalstudiosentertainment.com/c...,9693.0,en,Children of Men,...,R,movie,Children of Men,Children of Men,0,2006.0,109,"Action,Drama,Sci-Fi",7.9,509976
2,tt0259822,0.0,/rxw0z2dQlbpl85XenruggbSENtj.jpg,NaN,5000000.0,"[{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...",NaN,14062.0,en,.45,...,R,movie,.45,.45,0,2006.0,101,"Crime,Drama,Thriller",5.5,8723
3,tt0287072,0.0,NaN,NaN,31.0,"[{'id': 27, 'name': 'Horror'}, {'id': 9648, 'n...",http://us.davecampfield.com/,260824.0,en,Under Surveillance,...,R,movie,Under Surveillance,Under Surveillance,0,2006.0,89,"Horror,Mystery,Thriller",3.8,171
4,tt0298337,0.0,/y4cfBdeAsvONJ1VqD9qp7SIVpXo.jpg,NaN,0.0,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",NaN,14453.0,no,Slipp Jimmy fri,...,PG-13,movie,Free Jimmy,Slipp Jimmy fri,0,2006.0,86,"Animation,Comedy",5.9,6843

In [23]:
title_akas = pd.read_csv('Data/title_akas.csv.gz')
title_akas.head()

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
0,tt0000001,6,Carmencita,US,NaN,imdbDisplay,NaN,0.0
1,tt0000002,7,The Clown and His Dogs,US,NaN,NaN,literal English title,0.0
2,tt0000005,10,Blacksmith Scene,US,NaN,imdbDisplay,NaN,0.0
3,tt0000005,1,Blacksmithing Scene,US,NaN,alternative,NaN,0.0
4,tt0000005,6,Blacksmith Scene #1,US,NaN,alternative,NaN,0.0

In [24]:
## example tmdb data combined & basics & ratings & akas
merge_tmdbbasicsrate_akas20082006 = pd.merge(merge_tmdbbasics_ratings, title_akas, left_on='imdb_id', right_on='titleId', how='inner')
merge_tmdbbasicsrate_akas20082006.head()

,imdb_id,adult,backdrop_path,belongs_to_collection,budget,genres_x,homepage,id,original_language,original_title,...,averageRating,numVotes,titleId,ordering,title_y,region,language,types,attributes,isOriginalTitle
0,tt0144280,0.0,NaN,NaN,100000.0,[],NaN,30356.0,en,Whispers from a Shallow Grave,...,4.5,78,tt0144280,1,Whispers from a Shallow Grave,US,NaN,imdbDisplay,NaN,0.0
1,tt0206634,0.0,/z8FzomPxfCb2nv827VWLSI6oYiB.jpg,NaN,76000000.0,"[{'id': 18, 'name': 'Drama'}, {'id': 28, 'name...",http://www.universalstudiosentertainment.com/c...,9693.0,en,Children of Men,...,7.9,509976,tt0206634,41,Children of Men,US,NaN,imdbDisplay,NaN,0.0
2,tt0259822,0.0,/rxw0z2dQlbpl85XenruggbSENtj.jpg,NaN,5000000.0,"[{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...",NaN,14062.0,en,.45,...,5.5,8723,tt0259822,21,.45,US,NaN,imdbDisplay,NaN,0.0
3,tt0287072,0.0,NaN,NaN,31.0,"[{'id': 27, 'name': 'Horror'}, {'id': 9648, 'n...",http://us.davecampfield.com/,260824.0,en,Under Surveillance,...,3.8,171,tt0287072,1,Under Surveillance,US,NaN,imdbDisplay,NaN,0.0
4,tt0287072,0.0,NaN,NaN,31.0,"[{'id': 27, 'name': 'Horror'}, {'id': 9648, 'n...",http://us.davecampfield.com/,260824.0,en,Under Surveillance,...,3.8,171,tt0287072,2,Dark Chamber,US,NaN,dvd,NaN,0.0

In [25]:
# drop duplicate column merged on
merge_tmdbbasicsrate_akas20082006 = merge_tmdbbasicsrate_akas20082006.drop(columns=['titleId'])
merge_tmdbbasicsrate_akas20082006.head()

,imdb_id,adult,backdrop_path,belongs_to_collection,budget,genres_x,homepage,id,original_language,original_title,...,genres_y,averageRating,numVotes,ordering,title_y,region,language,types,attributes,isOriginalTitle
0,tt0144280,0.0,NaN,NaN,100000.0,[],NaN,30356.0,en,Whispers from a Shallow Grave,...,"Crime,Fantasy,Mystery",4.5,78,1,Whispers from a Shallow Grave,US,NaN,imdbDisplay,NaN,0.0
1,tt0206634,0.0,/z8FzomPxfCb2nv827VWLSI6oYiB.jpg,NaN,76000000.0,"[{'id': 18, 'name': 'Drama'}, {'id': 28, 'name...",http://www.universalstudiosentertainment.com/c...,9693.0,en,Children of Men,...,"Action,Drama,Sci-Fi",7.9,509976,41,Children of Men,US,NaN,imdbDisplay,NaN,0.0
2,tt0259822,0.0,/rxw0z2dQlbpl85XenruggbSENtj.jpg,NaN,5000000.0,"[{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...",NaN,14062.0,en,.45,...,"Crime,Drama,Thriller",5.5,8723,21,.45,US,NaN,imdbDisplay,NaN,0.0
3,tt0287072,0.0,NaN,NaN,31.0,"[{'id': 27, 'name': 'Horror'}, {'id': 9648, 'n...",http://us.davecampfield.com/,260824.0,en,Under Surveillance,...,"Horror,Mystery,Thriller",3.8,171,1,Under Surveillance,US,NaN,imdbDisplay,NaN,0.0
4,tt0287072,0.0,NaN,NaN,31.0,"[{'id': 27, 'name': 'Horror'}, {'id': 9648, 'n...",http://us.davecampfield.com/,260824.0,en,Under Surveillance,...,"Horror,Mystery,Thriller",3.8,171,2,Dark Chamber,US,NaN,dvd,NaN,0.0

In [26]:
# info on all merged df
merge_tmdbbasicsrate_akas20082006.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1652 entries, 0 to 1651
Data columns (total 42 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   imdb_id                1652 non-null   object
 1   adult                  1652 non-null   float64
 2   backdrop_path          1326 non-null   object
 3   belongs_to_collection  306 non-null    object
 4   budget                 1652 non-null   float64
 5   genres_x               1652 non-null   object
 6   homepage               646 non-null    object
 7   id                     1652 non-null   float64
 8   original_language      1652 non-null   object
 9   original_title         1652 non-null   object
 10  overview               1644 non-null   object
 11  popularity             1652 non-null   float64
 12  poster_path            1564 non-null   object
 13  production_companies   1652 non-null   object
 14  production_countries   1652 non-null   object
 15  release_date           1646 non-null   object
 16  revenue                1652 non-null   float64
 17  runtime                1652 non-null   float64
 18  spoken_languages       1652 non-null   object
 19  status                 1652 non-null   object
 20  tagline                1254 non-null   object
 21  title_x                1652 non-null   object
 22  video                  1652 non-null   float64
 23  vote_average           1652 non-null   float64
 24  vote_count             1652 non-null   float64
 25  certification          1137 non-null   object
 26  titleType              1652 non-null   object
 27  primaryTitle           1652 non-null   object
 28  originalTitle          1652 non-null   object
 29  isAdult                1652 non-null   int64
 30  startYear              1652 non-null   float64
 31  runtimeMinutes         1652 non-null   int64
 32  genres_y               1652 non-null   object
 33  averageRating          1652 non-null   float64
 34  numVotes               1652 non-null   int64
 35  ordering               1652 non-null   int64
 36  title_y                1652 non-null   object
 37  region                 1652 non-null   object
 38  language               8 non-null      object
 39  types                  1420 non-null   object
 40  attributes             177 non-null    object
 41  isOriginalTitle        1652 non-null   float64
dtypes: float64(12), int64(4), object(26)
memory usage: 555.0+ KB

In [27]:
# write merged results to final combined file
merge_tmdbbasicsrate_akas20082006.to_csv("Data/tmdb_results_combined20082006.csv.gz", compression="gzip", index=False)